html {
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: url(/img/img.jpg);
}

.container {
    border-radius: 10px;
    width: 250px;
    margin: 200px auto;
    position: relative;
    padding: 40px 20px;
    backdrop-filter: blur(5px); /* efeito de vidro */
    border: 1px solid rgba(255, 255, 255, 0.3); /* borda suave */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* leve sombra */
    padding-top: 5px;
    
} 

.container h1 {
    color: white;
    margin: 20px 80px;

}

.input-box input {
    width: 200px;
    padding: 10px 15px;        /* padding uniforme (vertical + horizontal) */
    border-radius: 100px;
    border: 1px solid rgba(252, 252, 252, 0.74); /* borda suave */
    background: none;           
    margin: 10px;
    
}

.input-box input::placeholder {
    color: white;
}

.checkbox {
    font-size: 12px;
    color: white;
    position: absolute;
    top:190px;
    display: flex;
    
}

.checkbox a {
    text-decoration: none;
    color: white;
    margin-left: 60px;
}

.input-login input{
    border-radius: 20px;
    width: 200px;
    padding: 6px;
    margin: 15px 10%;
    border: none;
    margin-top: 20px;
    font-weight: 900;
}

.input-login input:hover{
    background-color: black;
    color: white;
}

.register {
    color: white;
    margin-left: 20px;
    font-weight: 1;
}

.register a{
    text-decoration: none;
    color: white;
    font-weight: 1000;
}