* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: url('/img/flyd-quABIXUIAiw-unsplash.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover; 
    background-position: center;
    min-height: 95vh;

}

.container {
    border-radius: 30px;
    width: 420px;
    position: relative;
    backdrop-filter: blur(15px); /* efeito de vidro */
    border: 1px solid rgba(255, 255, 255, .2); /* borda suave */
    box-shadow: -10px -7px 27px 1px #a421fc; /* sombra */
    padding: 60px 30px ;
    color: white;
    
} 

.container h1 {
    text-align: center;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0px;
}

.input-box input {
    width: 100%;
    height: 100%;
    padding: 10px 15px;        /* padding uniforme (vertical + horizontal) */
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, .2); /* borda suave */
    background: transparent;           
    outline: none; /* para tirar a linha preta que aparece quando clica*/
    color: white;
    
}

.input-box input::placeholder {
    color: white;
}

.input-box i{
    position: relative;
    left: 90%;
    bottom: 34px;
    
}

.checkbox {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    accent-color: white; /* a cor do checkbox ira ficar branco quando clilcar*/
    margin: -15px 0px 10px;
}

.checkbox input:hover {
    cursor: pointer;
}

.checkbox span {
    margin-left: 2px;
    position: relative;
    bottom: 1.8px;
    
}

.checkbox a {
    text-decoration: none;
    color: white;
}

.checkbox a:hover {
    text-decoration:underline;
}

.input-login input{
    border-radius: 20px;
    width: 270px;
    height: 40px;
    margin: 15px 11%;
    border: none;
    margin-top: 20px;
    font-weight: 900;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0 , 0, 0, .1);
    cursor: pointer;
}

.input-login input:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}

.register {
    width: 100%;
    font-size: 13px;
    text-align: center;
    
}

.register a{
    text-decoration: none;
    color: white;
    font-weight: 800;
    
    
}

.register a:hover {
    text-decoration: underline;
}
.bx {
    color: white;

}